
  UPDATE [Platform_BT].[dbo].[Menu] SET [Name] = '查询审计' WHERE Id = '848FE587-8C1F-4DFE-AF4C-08D1C65D8783'
   UPDATE [Platform_BT].[dbo].[Menu] SET [Name] = '操作审计' WHERE Id = '65E9E587-8CF5-4584-BB49-08D1C65E0F51'
    UPDATE [Platform_BT].[dbo].[Menu] SET [Name] = '资源审计' WHERE Id = '65E9E587-8CF6-4584-BB49-08D1C65E0F51'
	 UPDATE [Platform_BT].[dbo].[Menu] SET [Name] = '互动审计' WHERE Id = '65E9E587-8CF7-4584-BB49-08D1C65E0F51'
	  UPDATE [Platform_BT].[dbo].[Menu] SET [Name] = '登录审计' WHERE Id = 'D1C484AC-0D13-484E-A2D6-6A6B223C34BE'