DECLARE  @A varchar(50)
DECLARE @B varchar(50)

DECLARE TEMP CURSOR FOR SELECT UserID, YHID FROM [Users]
OPEN TEMP
FETCH NEXT FROM TEMP INTO @A,@B
WHILE (@@FETCH_STATUS=0)
BEGIN
UPDATE UsersInfo SET YHID = @B WHERE UserID = @A
FETCH NEXT FROM TEMP INTO @A,@B
END
CLOSE TEMP
DEALLOCATE TEMP